---
---
@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$heavy-font-weight: 700 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$red-color:        #d00 !default;
$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

//========================================================================

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 70ch;
  max-width: 100%;
  margin: auto;
}


a {
  color: $red-color;
  text-decoration: none;

  &:visited {
    color: darken($red-color, 15%);
  }

  &:hover {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
}


blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}


footer {
    padding: 1ex;
    margin-top: 2ex;
    background-color: $grey-color-light;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: $heavy-font-weight;
  color: $grey-color-dark;
  padding-top: 2ex;
  padding-bottom: 1ex;
}


header {
    padding: 1ex;
    margin-bottom: 2ex;
    background-color: $grey-color-light;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


li {
    margin: 0.5ex 0 0.5ex 3ch;
}


p {
    margin: 0.8ex 0 0.8ex 0;
}


table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}


ul {
    list-style: square outside;
}

ul > ul {
    content: "&#9643;"
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.grey {
  color: $grey-color;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}
